//Colors
$heading_color: #cd46ea;
$background-color: #37353f;
$main-background-color: #D5D0D7aa;

//Fonts
$header-font: 'Open Sans', sans-serif;
$page-font: 'Barlow Semi Condensed', sans-serif;

//Spacing
$vertical_spacing: 200px;
$horizontal_spacing: 5em;

//Text-shadow
@mixin text-shadow($color){
	text-shadow: 1px 1px 8px $color;
}

@mixin font-border($offset, $color){
	text-shadow: $offset $offset 1px $color, (-1 * $offset) $offset 1px $color, $offset (-1 * $offset) 1px $color, (-1 * $offset) (-1 * $offset) 1px $color;
}

body{
	background-color: $background-color;
}

h1, h2, h3, h4{
	font-family: $header-font;
}

input{
	padding: 6px;
	margin: 10px 0;
	max-width: 300px;
	min-width: 00px;
}

header{
	position: absolute;
	left:0;
	top:0;
	background: $heading_color;
	width: 100%;
	z-index: -2;
	h1{
		font-size: 2.5em;
		@include font-border(2px, #333);
		letter-spacing: 3px;
	}
	a{
		color: white;
		text-indent: $horizontal_spacing;
		z-index: 10;
		text-decoration: none;
		font-family: $header-font;
	}

	.banner{
		position: relative;
		width: 100%;
		height: 500px;
		overflow: hidden;
		img{
			position: absolute;
			max-width: 100%;
			display: block;
		}
	}
}

.vertical_spacer{
	margin-top: $vertical_spacing;
}

main{
	z-index: 2;
	background: #fff;
	margin: auto;
	padding: 100px 5px;
	background-color: $main-background-color;
	min-height: 240px;
	font-family: $page-font;
	#logout{
		position: absolute;
		top:30px;
		right:30px;
		a{
			color: #fff;
			font-size: 30px;
		}
	}

	.flexbox{
		display: flex;
		justify-content: space-around;
		height: 240px;
		.homepage-container{
			border: solid #ace 10px;
			padding: 20px;
			width: 30%;
			position: relative;
			&.appointment-img{
				background: url('images/appointment.jpg') no-repeat center center/cover;
			}
			&.doctor-img{
				background: url('images/doctor.jpg') no-repeat center center/cover;
			}
			&.staff-img{
				background: url('images/staff.jpg') no-repeat center center/cover;
			}
			a{
				font-family: $page-font;
				font-size: 1.8em;
				position: absolute;
				bottom: 10px;
				color: #fff;
				@include text-shadow(#000);
			}
		}
	}

	.form{
		display: flex;
		flex-direction: column;
		align-items: center;
		&.availability{
			td{
				width: 140px;
				cursor: pointer;
				background-color: #999;
				text-align: center;
				padding: 5px;
				select{
					cursor: pointer;
					option:hover{
						cursor: pointer;
					}
				}
			}
		}
	}

	.dropdown-menu{
		position: absolute;
		background-color: $background-color;
		color: #fff;
		cursor: pointer;
		padding: 5px;
	}

	.submit-complete-container{
	    font-size: 2em;
	    width: 80%;
	    margin: auto;
	    .submit-complete{
	    	text-align: center;
	    	background: #7356ad;
	    	color: #fff;
	    	padding: 12px;
	    	border-radius: 20px;
			font-style: oblique;
	    }
		.issue{
			text-align: justify;
		}
	}

	.goodbye-msg{
		text-align: center;
		font-style: italic;
	}

	.appointment-list{
		margin: auto;
		width: 300px;
		.welcome-staff{
			font-size: 1.8em;
			white-space: nowrap;
		    position: relative;
		    left: -180px;
		    top: -50px;
		}
	}

}

footer{
	position: absolute;
	left: 0;
	width: 100%;
	color: #aaa;
	h4{
		position: absolute;
		bottom: 10px;
		right: 10px;
		font-style: oblique;
		margin-right: 10px;
	}
	.stripe{
		width: 100%;
		height: 180px;
		background-color: #445;
		.clock{
			position: absolute;
    		bottom: 10px;
    		left: 10px;
		}
	}
}

@media (max-width: 1000px){
	header{
		h1{
			font-size: 1.8em;
			text-align: center;
			text-indent: 0;
		}
		h2{
			font-size: 1em;
			text-align: center;
			text-indent: 0;
		}
	}
	main{
		#logout{
			position: static;
			text-align: center;
			margin-bottom: 65px;
			font-size: 1.1em;
		}
		.clock{
			font-size: 1.7em;
			margin: unset;
		}
		.flexbox{
			flex-direction: column;
			align-items: center;
			height: 100% !important;
			.homepage-container{
				height: 240px;
				margin: 10px 0;
				width: 80% !important;
			}
		}
	}
}

@media (max-width: 600px){
	main{
		width: 100%;
		position: relative;
		left: -4px;
		.doctors_table{
			tr{
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 2px;
			}
		}
		.appointment-list{
			.welcome-staff{
				font-size: 1.3em;
				white-space: nowrap;
				left: 0;
			}
		}
	}
}