//Colors
$heading_color: #80488C;
$background-color: #37353f;
$main-background-color: #D5D0D7;

//Spacing
$vertical_spacing: 200px;
$horizontal_spacing: 5em;

body{
	background-color: $background-color;
}

header{
	position: absolute;
	left:0;
	top:0;
	background: $heading_color;
	width: 100%;
	z-index: -2;
	a{
		color: white;
		text-indent: $horizontal_spacing;
		z-index: 10;
	}

	.banner{
		position: relative;
		width: 100%;
		height: 400px;
		overflow: hidden;
		img{
			position: absolute;
			bottom: 0;
			max-width: 100%;
			display: block;
		}
	}
}

.vertical_spacer{
	margin-top: $vertical_spacing;
}

main{
	z-index: 2;
	background: #fff;
	width: 80%;
	margin: auto;
	padding: 20px;
	background-color: $main-background-color;
	min-height: 240px;
	#logout{
		position: absolute;
		top:30px;
		right:30px;
		a{
			color: #fff;
			font-size: 30px;
		}
	}

	.flexbox{
		display: flex;
		justify-content: space-around;
		height: 240px;
		.homepage-container{
			border: solid;
			padding: 20px;
			width: 30%;
			position: relative;
			&.appointment-img{
				background: url('images/appointment.jpg') no-repeat center center/cover;
			}
			&.doctor-img{
				background: url('images/doctor.jpg') no-repeat center center/cover;
			}
			&.staff-img{
				background: url('images/staff.jpg') no-repeat center center/cover;
			}
			a{
				font-family: arial;
				font-size: 20px;
				position: absolute;
				bottom: 10px;
				color: #fff;
			}
		}
	}

	.dropdown-menu{
		position: absolute;
		background-color: $background-color;
		color: #fff;
	}

}

footer{
	position: absolute;
	left: 0;
	width: 100%;
	color: #aaa;
	h4{
		position: absolute;
		bottom: 10px;
		right: 10px;
		font-style: italic;
		margin-right: 10px;
	}
	.stripe{
		width: 100%;
		height: 180px;
		background-color: #445;
	}
}

@media (max-width: 1000px){
	.flexbox{
		flex-direction: column;
		align-items: center;
		height: 100% !important;
		.homepage-container{
			height: 240px;
			margin: 10px 0;
			width: 80% !important;
		}
	}
}